{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Registered Users{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mt-5 mb-4 text-center" style="padding-top: 2.0rem;">Registered Users</h1>
    {{ render_messages() }}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover mt-4">
            <thead>
                <tr>
                    <th scope="col" style="text-align: center;">Avatar</th>
                    <th scope="col" style="text-align: center;">Username</th>
                    <th scope="col" style="text-align: center;">Email</th>
                    <th scope="col" style="text-align: center;">Role</th>
                    <th scope="col" style="text-align: center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                <tr>
                <td style="display: flex; justify-content: center; align-items: center;">
                    {% if student_profiles[student] and student_profiles[student].avator %}
                    <img class="rounded-circle" style="width: 40px;height: 40px;"
                        src="{{ url_for('static', filename='assets/profile/' + student_profiles[student].avator) }}"
                        alt="Avatar">
                    {% else %}
                    <img class="rounded-circle" style="width: 40px;height: 40px;"
                        src="{{ url_for('static', filename='assets/images/default_avator.jpg') }}" alt="Avatar">
                    {% endif %}
                </td>
                <td class="text-center">{{ student.username }}</td>
                <td class="text-center">{{ student.email }}</td>
                <td class="text-center">{{ student.role }}</td>
                <td class="align-middle">
                    <div style="display: flex; justify-content: center;">
                        <a href="{{ url_for('users.view_user', user_id=student.id) }}" class="btn btn-primary"
                            style="margin-right: 5px;">View</a>
                        <form action="{{ url_for('users.delete_user', user_id=student.id) }}" method="post"
                            style="margin-left: 5px; display: inline;">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="student_id" value="{{ student.id }}">
                            <button type="submit" class="btn btn-danger"
                                onclick="return confirm('Are you sure you want to delete this user?')">Delete</button>
                        </form>
                    </div>
                </td>
                </tr>
                {% endfor %}
                {% for volunteer in volunteers %}
                <tr>
                    <td style="display: flex; justify-content: center; align-items: center;">
                        {% if volunteer_profiles[volunteer] and volunteer_profiles[volunteer].avator %}
                        <img class="rounded-circle" style="width: 40px;height: 40px;"
                            src="{{ url_for('static', filename='assets/profile/'+ volunteer_profiles[volunteer].avator) }}" alt="Avatar">
                        {% else %}
                        <img class="rounded-circle" style="width: 40px;height: 40px;"
                            src="{{ url_for('static', filename='assets/images/default_avator.jpg') }}" , alt="Avatar">
                        {% endif %}
                    </td>
                    <td class="text-center">{{ volunteer.username }}</td>
                    <td class="text-center">{{ volunteer.email }}</td>
                    <td class="text-center">{{ volunteer.role }}</td>
                    <td class="align-middle">
                        <div style="display: flex; justify-content: center;">
                            <a href="{{ url_for('users.view_user', user_id=volunteer.id) }}" class="btn btn-primary"
                                style="margin-right: 5px;">View</a>
                            <form action="{{ url_for('users.delete_user', user_id=volunteer.id) }}" method="post"
                                style="margin-left: 5px; display: inline;">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="volunteer" value="{{ volunteer.id }}">
                                <button type="submit" class="btn btn-danger"
                                    onclick="return confirm('Are you sure you want to delete this user?')">Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>
    // Function to hide messages after a delay
    function hideMessages() {
        var messagesElements = document.querySelectorAll('.alert');
        if (messagesElements) {
            setTimeout(function () {
                messagesElements.forEach(function (element) {
                    element.style.display = 'none';
                });
            }, 3000);  // 5000 milliseconds (5 seconds)
        }
    }

    // Call the function when the page loads
    window.onload = hideMessages;
</script>
{% endblock %}