{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Edit Slot{% endblock %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <h1 class="mt-2 mb-4 text-center">Edit Slot</h1>
            <form method="post" action="/edit_slot" style="margin-bottom: 100px;">
                {{ render_messages() }}
                <input type="hidden" name="slot_id" value="{{ slot.id }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                
                <!-- Stem Field -->
                <div class="mb-3">
                    <label class="form-label">Stem</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="stem" id="math_stem" value="maths" {% if slot.stem == 'maths' %} checked {% endif %}>
                        <label class="form-check-label" for="math_stem">Math</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="stem" id="science_stem" value="science" {% if slot.stem == 'science' %} checked {% endif %}>
                        <label class="form-check-label" for="science_stem">Science</label>
                    </div>
                </div>
                
                <!-- Topic Field -->
                <div class="mb-3">
                    <label for="topic" class="form-label">Topic</label>
                    <input type="text" name="topic" id="topic" class="form-control" value="{{ slot.topic }}">
                </div>

                <!-- Subtopic Field -->
                <div class="mb-3">
                    <label for="subtopic" class="form-label">Subtopic</label>
                    <input type="text" name="subtopic" id="subtopic" class="form-control" value="{{ slot.subtopic }}">
                </div>

                <!-- Date Field -->
                <div class="mb-3">
                    <label for="date" class="form-label">Date</label>
                    <input type="date" name="date" id="date" class="form-control" value="{{ slot.date }}">
                </div>
                <!-- Start Time Field -->
                <div class="mb-3">
                    <label for="start_time" class="form-label">Start Time</label>
                    <input type="time" name="start_time" id="start_time" class="form-control"
                        value="{{ slot.start_time }}">
                </div>
                <!-- End Time Field -->
                <div class="mb-3">
                    <label for="end_time" class="form-label">End Time</label>
                    <input type="time" name="end_time" id="end_time" class="form-control" value="{{ slot.end_time }}">
                </div>
                <!-- Submit Button -->
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Update Slot</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}