{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Forum{% endblock %}

{% block body %}
<div class="container mt-5" style="padding-top: 2.0rem;">
  <h1 class="text-center mt-2">Welcome to the Forum</h1>
  <div class="row mt-4">
    <!-- Main content -->
    <div class="col-lg-9 mb-2">
      <div class="row text-left mb-4">
        <div class="col-lg-6 text-lg-right">
          <div class="dropdown bootstrap-select form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" style="width: 100%;">
            <select class="form-control form-control-lg bg-white bg-op-9 ml-auto text-sm w-lg-50" data-toggle="select" tabindex="-98">
              <option> Filter by </option>
              <option> Likes </option>
              <option> Replies </option>
              <option> Views </option>
            </select>
          </div>
        </div>
      </div>
      {% for post in posts.items %}
      <div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0">
        <div class="row align-items-center">
          <div class="col-md-8 mb-3 mb-sm-0">
            <h5>
              <a class="article-title" href="{{url_for('users.post',post_id=post.id)}}" onclick="incrementViewCount({{ post.id }})">{{ post.title }}</a>
            </h5>
            <p class="text-sm"><span class="op-6">Posted</span> {{format_time_difference(current_date-post.date_posted)}} <span class="op-6">by</span> <a class="text-black" href="{{url_for('users.user_posts',username=post.author.username)}}">{{ post.author.username }}</a></p>
          </div>
          <p class="text-sm">{{post.content}}</p>
          <div class="col-md-4 op-7">
            <div class="row text-center op-7">
              <div class="col px-1">
                <i class="ion-ios-heart-outline icon-1x"></i>
                <span class="d-block text-sm">12 Likes</span>
              </div>
              <div class="col px-1"> <i class="ion-ios-chatboxes-outline icon-1x"></i> <span class="d-block text-sm">{{all_comments_count}} Replies</span> </div>
              <div id="viewCount_{{ post.id }}" class="col px-1">
                <i class="ion-ios-eye-outline icon-1x"></i>
                <span id="viewCountValue_{{ post.id }}" class="d-block text-sm">{{ post.views }} Views</span>
            </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="text-center">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled"> <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a> </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"> <a class="page-link" href="#">Next</a> </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Sidebar content -->
    <div class="col-lg-3">
      <div class="sticky-top mt-0" style="padding-bottom: 25px;">
        <div class="text-center mb-3">
          <a class="btn btn-lg btn-block btn-success op-7 rounded-0 py-2 bg-op-6 roboto-bold" href="{{ url_for('users.new_post') }}">Ask Question</a>
        </div>
        {% for post in posts.items %}
        <div class="bg-white mb-3">
          <h4 class="px-3 py-4 op-5 m-0 text-center">Active Topics</h4>
          <hr class="m-0">
          <h5>
            <a class="article-title" href="{{url_for('users.post',post_id=post.id)}}" onclick="incrementViewCount({{post.id}})">{{ post.title }}</a>
          </h5>
          <p class="text-sm"><span class="op-6">Posted</span> {{ format_time_difference(current_date - post.date_posted) }} <span class="op-6">by</span> <a class="text-black" href="{{url_for('users.user_posts',username=post.author.username)}}">{{ post.author.username }}</a></p>
          {% endfor %}
        </div>
        <div class="bg-white text-sm">
          <h4 class="px-3 py-1 op-5 m-0 roboto-bold text-center">Stats</h4>
          <hr class="my-0">
          <div class="row text-center d-flex flex-row op-7 mx-0">
            <div class="col-sm-6 flex-ew text-center py-2 border-bottom border-right"> <a class="d-block lead font-weight-bold" href="#">{{all_topics_count}}</a> Topics </div>
            <div class="col-sm-6 col flex-ew text-center py-2 border-bottom mx-0"> <a class="d-block lead font-weight-bold" href="#">{{all_post}}</a> Posts </div>
          </div>
          <div class="row d-flex flex-row op-7">
            <div class="col-sm-6 flex-ew text-center py-2 border-right mx-0"> <a class="d-block lead font-weight-bold" href="#">{{all_users_count}}</a> Members </div>
            <div class="col-sm-6 flex-ew text-center py-2 mx-0"> <a class="d-block lead font-weight-bold" href="#">{{new_member}}</a> Newest Member </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  async function incrementViewCount(postId) {
      await fetch(`/increment_view_count/${postId}`, {
          method: 'POST',
          headers: {
              'Content-Type': 'application/json',
              'X-CSRFToken': '{{ csrf_token() }}'
          },
          body: JSON.stringify({})
      })
      .then(response => {
          if (response.ok) {
              // Increment view count on the client-side
              const viewCountElement = document.getElementById(`viewCountValue_${postId}`);
              let viewCount = parseInt(viewCountElement.textContent);
              viewCountElement.textContent = (++viewCount) + ' Views';
          } else {
              console.error('Failed to increment view count');
          }
      })
      .catch(error => console.error('Error:', error));
  }
</script>

<script>
  // Function to hide messages after a delay
  function hideMessages() {
      var messagesElements = document.querySelectorAll('.alert');
      if (messagesElements) {
          setTimeout(function () {
              messagesElements.forEach(function (element) {
                  element.style.display = 'none';
              });
          }, 3000);  // 5000 milliseconds (5 seconds)
      }
  }

  // Call the function when the page loads
  window.onload = hideMessages;
</script>
{% endblock %}
