{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Home{% endblock %}

{% block body %}
<main class="my-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <p class="mt-5 lead" style="color: black;">Welcome to Grade 12 Support, the best place to learn and prepare for
                your final exams. We offer a wide range of content to help you prepare for your final exams. We have
                content for Maths and Science covering every topic. We also offer live classes and tutorials to help you
                understand the content better. We are here to help you succeed in your final exams.</p><br>
        </div>
        <div>
            <img src="{{ url_for('static', filename='assets/images/tutorials.jpg') }}" style="width: 100vw; height: 70vh;" class="img-fluid" alt="Grade 12">
        </div>
        <br>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100">
                <img src="{{ url_for('static', filename='assets/images/subject_content.jpeg') }}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">SUBJECT CONTENT</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{{ url_for('static', filename='assets/images/survey.jpg') }}" height="238" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">TAKE A SURVEY</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{{ url_for('static', filename='assets/images/practice.jpg') }}" height="238" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PRACTICE</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{{ url_for('static', filename='assets/images/live.jpg') }}" height="238" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">LIVE CLASSES</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="{{ url_for('static', filename='assets/images/past-papers.png') }}" height="238 class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">PAST YEAR PAPERS</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
              </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="{{ url_for('static', filename='assets/images/forum.png') }}" height="238 class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">FORUM</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
    </div>
</main>
{% endblock %}