{% extends "base.html" %}

{% block title %}No Content{% endblock %}

{% block body %}
<main class="my-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5" style="padding-top: 4.5rem;">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">No Content Available</h4>
                    <p>Sorry, there is currently no content available for Maths or Science.</p>
                    <hr>
                    <p class="mb-0">Please check back later for updates.</p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
