{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}My Profile{% endblock %}

{% block body %}

<div class="my-5">
    <div class="container">
        <div class="mt-4">
            <div class="row">
                <div class="col-md-12">
                    {{ render_messages(dismissible=True, dismiss_animate=True) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mt-5">
                    <div class="d-flex justify-content-center">
                        {% if profile and profile.avatar %}
                        <div style="position: relative; display: inline-block;">
                            <img class="rounded-circle mt-5 mb-3" style="object-fit: cover;width: 180px;height: 180px;"
                                src="{{ url_for('static', filename='assets/profile/'+profile.avatar) }}">
                                <span class="badge rounded-circle text-bg-danger" style="position: relative; top: 89px; right: 50px;">{{ get_notification_count(current_user.id) }}</span>
                        </div>                        
                        {% else %}
                        <div style="position: relative; display: inline-block;">
                            <img class="rounded-circle mt-5 mb-3" style="object-fit: cover;width: 180px;height: 180px;"
                                src="{{ url_for('static', filename='assets/images/default_avator.jpg') }}">
                                <span class="badge rounded-circle text-bg-danger" style="position: relative; top: 89px; right: 50px;">{{ get_notification_count(current_user.id) }}</span>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6 mt-5">
                    <div class="my-3">
                        <h2 class="mb-1">{{ current_user.first_name }} {{ current_user.last_name }}</h2>
                        <p>@{{ current_user.username }}</p>
                        <h6 class="text-muted mb-4">{{ profile.bio }}</h6>
                        <div class="row">
                            <label class="fw-bold">First Name</label>
                            <p>{{ current_user.first_name }}</p>
                        </div>
                        <div class="row">
                            <label class="fw-bold">Last Name</label>
                            <p>{{ current_user.last_name }}</p>
                        </div>
                        <div class="row">
                            <label class="fw-bold">Email Address</label>
                            <p>{{ current_user.email }}</p>
                        </div>
                    </div>
                    <div>
                        <a href="{{ url_for('users.edit_profile') }}" class="btn btn-primary">Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Display taken teaching slots for volunteer users -->
        {% if current_user.role == 'volunteer' %}
        <h1 class="mt-5 mb-4 text-center">Taken Teaching Slots</h1>
        <div class="row">
            {% for slot in taken_teaching_slots %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title mb-3 text-center">{{ slot.topic }}</h5>
                        <h6 class="card-subtitle mb-3">Subtopic: {{ slot.subtopic }}</h6>
                        <p class="card-text">Date: {{ slot.date }}</p>
                        <p class="card-text">Time: {{ slot.start_time }} - {{slot.end_time}}</p>
                        <p class="card-text lead">Teams Link: <a href="{{ slot.teams_link }}" target="_blank">Click here to join the meeting</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        <!-- Display taken attending slots for student users -->
        {% if current_user.role == 'student' %}
        <h1 class="mt-5 mb-4 text-center">Taken Attending Slots</h1>
        <div class="row">
            {% for slot in taken_attending_slots %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title mb-3 text-center">{{ slot.topic }}</h5>
                        <h6 class="card-subtitle mb-3">Subtopic: {{ slot.subtopic }}</h6>
                        <p class="card-text">Date: {{ slot.date }}</p>
                        <p class="card-text">Time: {{ slot.start_time }} - {{slot.end_time}}</p>
                        <p class="card-text lead">Teams Link: <a href="{{ slot.teams_link }}" target="_blank">Click here to join the meeting</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </div>
</div>

<script>
    // Function to hide messages after a delay
    function hideMessages() {
        var messagesElements = document.querySelectorAll('.alert');
        if (messagesElements) {
            setTimeout(function () {
                messagesElements.forEach(function (element) {
                    element.style.display = 'none';
                });
            }, 3000);  // 5000 milliseconds (5 seconds)
        }
    }

    // Call the function when the page loads
    window.onload = hideMessages;
</script>

{% endblock %}