{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% block title %}Science{% endblock %}

{% block body %}
<main class="my-5">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <p class="mt-5 lead" style="color: black;">Welcome to Grade 12 Support, the best place to learn and prepare for
                your final exams. We offer a wide range of content to help you prepare for your final exams. We have
                content for Maths and Science covering every topic. We also offer live classes and tutorials to help you
                understand the content better. We are here to help you succeed in your final exams.</p><br>
        </div>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">TEXT BOOKS</h5>
                        <p class="card-text"><ul>
                            <li>Mathematics for Grade 12 by J. Smith</li>
                            <li>Siyavula Grade 12 Mathematics</li>
                        </ul></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">PAST YEAR PAPERS</h5>
                        <p class="card-text"><ul>
                            <li>2019 Mathematics Paper 1</li>
                            <li>2019 Mathematics Paper 2</li>
                        </ul></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">WORKSHEETS</h5>
                        <p class="card-text"><ul>
                            <li>Mathematics Grade 12 Worksheets</li>
                            <li>Mathematics Grade 12 Solutions</li>
                        </ul></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">GUIDES</h5>
                        <p class="card-text"><ul>
                            <li>Mathematics Grade 12 Study Guide</li>
                            <li>Mathematics Grade 12 Revision Guide</li>
                        </ul></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">ADDITIONAL PROBLEMS</h5>
                        <p class="card-text"><ul>
                            <li>Mathematics Grade 12 Additional Problems</li>
                            <li>Mathematics Grade 12 Additional Solutions</li>
                        </ul></p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 mt-4">
                    <div class="card-body">
                        <h5 class="card-title">VIDEOS</h5>
                        <p class="card-text"><ul>
                            <li><a href='www.youtube.com/functionsandgraphs'>Fuctions and Graphs</a></li>
                            <li><a href="www.youtube.com">Sequences and Series</a></li>
                        </ul></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}