{% extends 'base.html' %}
{% block title %}Papers by Title{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="mt-5 text-center" style="padding-top: 2.0rem;">Past Year Papers Section</h1>
            <p class="lead">
                As the final Matric exams season approaches and Matrics aim to get good Matric results,
                being prepared and working through grade 12 past papers is of utmost importance. If you are trying to
                prepare for the upcoming Matric Finals and looking to find some previous exam papers to work through and
                help you pass Matric, then you came to the right place.
            </p>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="col" class="col with-vertical-line">CAPS Past Papers</th>
                                <th scope="col" class="col-6">IEB Past Papers</th>
                            </tr>
                            <tr>
                                <td class="with-vertical-line">
                                    <ul>
                                        {% for combo in paper_combinations %}
                                        {% if combo.paper_type == 'caps' %}
                                        <li><a href="{{ url_for('users.papers_by_year', paper_type=combo.paper_type, stem=combo.stem) }}">{{ combo.label }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        {% for combo in paper_combinations %}
                                        {% if combo.paper_type == 'ieb' %}
                                        <li><a href="{{ url_for('users.papers_by_year', paper_type=combo.paper_type, stem=combo.stem) }}">{{ combo.label }}</a></li>
                                        {% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .with-vertical-line {
        border-right: 1px solid #ccc;
        /* Add a vertical line */
    }
</style>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}
