.card-block {
  width: 200px;
  border: 1px solid lightgrey;
  border-radius: 5px !important;
  background-color: #FAFAFA;
  margin-bottom: 30px;
}

.card-body.show {
  display: block;
}

.card-body p{
  text-align: justify;
  padding-top: 6px;
}

.card {
  padding-bottom: 20px;
  box-shadow: 2px 2px 6px 0px rgb(200, 167, 216);
}
.radio {
  display: inline-block;
  border-radius: 0;
  box-sizing: border-box;
  cursor: pointer;
  color: #000;
  font-weight: 500;
}

.radio:hover {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.choices__list--dropdown .choices__item--selectable {
  padding-right: 1rem;
}

.choices__list--single {
  padding: 0;
}

.choices[data-type*=select-one]:after {
  right: 1.5rem;
}

.shadow {
  box-shadow: 0.3rem 0.3rem 1rem rgba(178, 200, 244, 0.23);
}

.stats-block {
  position: sticky;
  bottom: 0;
  z-index: 1000; /* Ensure it stays above other elements */
}

.card-body h5.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #10144A;
  margin-top: 0px;
  margin-bottom: 0px;
}

.icon-1x {
  font-size: 24px !important;
}

.icon-1x {
font-size: 24px !important;
}

.ion-ios-heart-outline {
color:  #999;;
}

.ion-ios-heart {
color: #FD0031;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}
.lastsection{
  background-color: #000000;
  margin-top: 20vh;
  margin-bottom: 0px;
}
.content {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white; /* Choose color that stands out over your video */
  z-index: 100;
}

.content h1 {
  font-size: 2.5rem; /* Adjust size as necessary */
  font-weight: bold;
  margin-bottom: 0.5rem; /* Space between H1 and H2 */
}

.content h2 {
  font-size: 1.5rem;
  font-weight: normal;
}
.nav_sec{
  height: 60vh;
}
.video-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(6, 0, 8, 0.7), rgba(7, 8, 14, 0.7));
  z-index: 1;
}

.top-nav {
  background-color:white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 12px;
  border-radius: 0px 0px 5px 0px;
}
.nav_sec{
  height: 97vh;
  background-color: #1086f4;
}
.top-nav .logo {
  color: white;
}

.top-nav .nav-icons {
  display: flex;
  
}

.top-nav .nav-icons div {
  margin-right: 20px;
  color: rgb(92, 90, 90);
  display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.search-container {
  position: relative;
  width: 280px;
  height: 27px;
  padding-right: 60px;
  margin-right: 100px;
}

.search-bar {
  width: 100%;
  height: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px 0 0 5px;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Dark blue shadow */
  outline: none;
}

.search-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  margin-top: 0px;
  background-color:#10144A; /* Dark blue background */
  border: none;
  border-radius: 0 5px 5px 0;
  color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 255, 0.5); /* Dark blue shadow */
  margin-right: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-button:hover {
  background-color: #0d0745; /* Dark blue background on hover */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.search-button i {
  font-size: 16px;
}

.nav-icons img {
  margin-right: px; /* Add spacing between icon and text */
}


.bottom-nav {
  background-color: #bde4f7;
  padding: 15px;

}
.bottom-nav .centre_nav{
  padding-left: 350px;
}
.bottom-nav .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav .right-links {
  display: flex;
  align-items: center;
}

.bottom-nav .dropdown {
  position: relative;
  display: inline-block;
}

.bottom-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.bottom-nav .dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.bottom-nav .dropdown:hover .dropdown-content {
  display: block;
}

.bottom-nav .dropbtn {
  color: #333;
  background-color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

.bottom-nav .centre_nav a {
  color: #ffffff;
  text-decoration: none;

 margin-left: 20px;
  
  /* padding-right: 50px; */
}


.right-links .centre_nav {
  display: flex;
  justify-content: center;
  padding-left: 90px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

 .bottom-nav .centre_nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-nav .centre_nav a {
  position: relative;
  color: #10144A;
  text-decoration: none;
  margin-left: 20px;
  transition: background-color 0.3s, padding 0.3s; /* Smooth transition for background color and padding */
}

.bottom-nav .centre_nav a:hover {
  background-color:#10144A; /* Change background color on hover */
  padding: 5px; /* Increase padding on hover */
  border-radius: 8px 8px 8px 8px;
  color: white;
}

.bottom-nav .centre_nav a:active {
  background-color: #ccc; /* Change background color when clicked */
}

.bottom-nav .centre_nav a:focus {
  outline: none; /* Remove outline on focus */
}



.bottom-nav .write-button {
  margin-left: auto;
}

.bottom-nav .orange-button {
  background-color: #dc7835;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.bottom-nav .arrow-down {
  color: #dc7835;
  font-size: 12px;
  margin-left: 5px;
}

/* about  */



.navi_section {
  width: 100%;
  height: 66vh;
  /* margin-top: 30vh; */
background-color: #10144A;
  color: rgb(0, 255, 94);
}

.title3 {
  color: #DCDDDE;
  font-size: 30px;
  padding-bottom: 45px;
  font-family: Arial, sans-serif;
  text-align: center;
  font-style: initial;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto -42px;
  position: relative;
  line-height: 60px;
  color: #1086F4;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.services_section {
  width: 100%;
  /* margin-top: 75vh; */
  background-color: rgb(241, 239, 235);
  color: black;
}


.service_container {
  display: flex;
  justify-content: center; /* Center items horizontally */
  margin-top: 1vh;
  width: 80%;
  padding-left: 205px;
}

/* .......................footer........................ */
.conclude {
  /* background-color:hsl(0, 0%, 0%); */
  width: 100%;
  height: 50vh;
  margin-top: 30px;
  position: relative; /* Set position to relative */
  display: flex;
  align-items: center;
  justify-content: center;
}

.deco_container {
  /* background-color: #c7bbbb; */
  width: 100%;
  /* height: 100%; */
  height: 60vh;
  border: #007bff;
  position: absolute; /* Set position to absolute */
  top: 10px; /* Set top distance from the top of .conclude */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(rgba(6, 0, 8, 0.7), rgba(0, 0, 0, 0.7)), url('/users/static/assets/images/5555555555Artifictelligence\ ...wnload\ -\ Pngtree_animation.mp4');
  background-repeat: no-repeat;
  background-size: cover;
}

.background-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1; /* Send video to back */
}

.lastsection .tittle3{
  padding-top: 2px;
}

.footer-iconz i {
  margin-left: 10px; /* Adjust the value as needed */
  justify-content: space-around; 
}

.container-fluid {
  width: 100%;
  padding: 0;
  margin: 0;
}

.footer {
  display: flex;
  width: 100%;
  flex-wrap: wrap; /* Allow flex items to wrap */
  justify-content: center; /* Center align flex items */
  padding: 20px;
  color: #ddd;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.column h4{
  color: #1086F4;
}
.column {
  flex: 1;
  padding: 0 65px;
  margin-bottom: 20px; /* Add margin between columns */
  justify-content: center;
}

.column h4 {
  margin-bottom: 10px;
}

.column ul {
  list-style-type: none;
  padding: 0;
}

.column ul li {
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

form input,
form select,
form textarea {
  margin-bottom: 2px;
  padding: 5px;
}

form button {
  padding: 8px;
  background-color: #1086F4;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 1px;
  border: #f0f4f1;
}

.form{
  height: 90px}
  .swiper {
    width: 100%;
    height: 100%;
    /* background-color: linear-gradient(rgba(6, 0, 8, 0.7), rgba(7, 8, 14, 0.7)); */

}

.page_404{ 
  padding:40px 0; 
  background:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensures the content is centered vertically */
}

.page_404  img{ width:100%;}

.four_zero_four_bg{

background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
height: 400px;
background-position: center;
}


.four_zero_four_bg h1{
font-size:80px;
}

.four_zero_four_bg h3{
 font-size:80px;
 }
 
 .link_404{      
color: #fff!important;
padding: 10px 20px;
background: #39ac31;
margin: 20px 0;
display: inline-block;}
.contant_box_404{ margin-top:-50px;}

.pic {
margin-top: 30px;
margin-bottom: 20px;
}

.btn-primary {
  background-color: #0d0745 !important;
  border-color: #0d0745 !important;
}

.btn-primary:hover {
  background-color: #0d74d1 !important; /* Slightly darker shade for hover effect */
  border-color: #0d74d1 !important;
}

.btn-dark{
  background-color: #10144A;
  border-color: #10144A;
}

.btn-dark:hover {
  background-color: #0d0745; /* Slightly darker shade for hover effect */
  border-color: #0d0745;
}

.card-title{
  font-size: 22px;
  text-align: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional, centers vertically */
  
}

.read-more-button {
  background-color: #10144A;
  border: 1.2px solid black;
  color: white;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 20px;
  cursor: pointer;
  display: inline-flex; /* Ensure the button doesn't fill the whole width */
  align-items: center;
  justify-content: center;
}

.read-more {
  display: flex;
  align-items: center;
  font-size: 12px;
  cursor: pointer; /* Add pointer cursor on hover */
}

.read-more:hover {
  display: flex;
    align-items: center;
    cursor: pointer; /* Add pointer cursor on hover */
    background-color: transparent; /* Make button transparent */
    border-radius: 10px; /* Rounded corners */
    border-color: #ffffff; /* Change border to white on hover */
    padding: 3px 5px; /* Add some padding for better appearance */
    transition: border-color 0.3s ease; /* Smooth transition for border color */
}

.read-more .arrow {
  margin-left: 5px;
  color:#F26522;
  cursor: pointer; /* Add pointer cursor on hover */

}

.read-more .arrow:hover {
  margin-left: 5px;
  color: #ffffff;
  cursor: pointer; /* Add pointer cursor on hover */
}
